@import "src/styles/mixins";

.reportTable {
  width: 100%;
}

.cell, .clamp {
  @include set-line-clamp(1)
}

.url, .urlCell {
  display: flex;
  width: 100%;
}

.url {
  gap: 10px;
  justify-content: flex-start;
}

.urlCell {
  display: flex;
  justify-content: space-between;

  > svg {
    visibility: hidden;
  }

  &:hover {
    > svg {
      visibility: visible;
    }
  }

}

.search {
  width: 200px;
}

.smile {
  display: flex;
  width: 100%;
  height: 350px;
  align-items: center;
  justify-content: center;
}