@import "src/styles/colors";

$app-height: 100%;
$header-height: 72px;

.app {
  height: $app-height;
  display: flex;
  flex-direction: column;

}

.header {
  height: $header-height;
  min-height: $header-height;
}

.main {
  height: calc($app-height - $header-height);
  display: flex;
  padding: 48px 0 96px 0;
  flex-direction: column;
  gap: 32px;
  align-self: stretch;
}